.shop-container{
    display:flex;
    border-bottom: 1px solid lightgray;
    padding-bottom:5px;
}
.porduct-container{
    width: 70%;
    margin-left: 20px;
    margin-right: 5px;
    border-right:1px solid lightgray;
}